@font-face {
	font-family: "HKGrotesk-Light";
	src: url("../font/HKGrotesk-Light.ttf");
}


body, html {
    background-color: #f4f6f9;
    font-family: "HKGrotesk-Light";
    max-height: 100%;
    max-width: 100%;
}

.hidden {
	display: none;
}

.intro {
	text-align: center;
}

#cam {
	max-width: 30%;
	max-height: 30%;
	border-radius: 20px 50px 20px;
}
.col.s3 {
  margin-right: 40px;
}