@font-face {
	font-family: "HKGrotesk-Light";
	src: url("../font/HKGrotesk-Light.ttf");
}

body,html {
    background-image: url('../img/aust.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: "HKGrotesk-Light";
}

.col.s4 {
	text-align: center;
}

#homepage {
	position: absolute;
	top: 50%;
    border-radius: 30px;
}

.hidden {
    display: none;
}

.btn {
  overflow: hidden;
}

.btn:hover {
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
    0% {
     transform: scale(1, 1);
    }

    50% {
     transform: scale(1.1, 1.1);
    }

    100% {
    transform: scale(1, 1);
    }
}